.member {
  padding: 10px;
  margin-left: 10px;
  border: 2px solid black;
  font-size: 20px;
}
.level-1 {
  background-color: lightblue;
  font-size: 20px;
  border-style: solid;
}
.level-2 {
  background-color: lightgreen;
  font-size: 18px;
  border-style: dashed;
}
.level-3 {
  background-color: lightcoral;
  font-size: 16px;
  border-style: dotted;
}
.level-4 {
  background-color: lightgoldenrodyellow;
  font-size: 14px;
  border-style: double;
}
.removing {
  opacity: 0.5;
  text-decoration: line-through;
}
